# requirements.txt (versión exacta para producción y reproducibilidad)

Django==5.2.9
mysqlclient==2.2.7          # Para desarrollo local (MySQL)
psycopg2-binary==2.9.9      # Para producción en Render (PostgreSQL)
gunicorn==23.0.0            # Servidor WSGI recomendado
whitenoise==6.7.0           # Archivos estáticos en producción
django-bootstrap5==23.4     # Bootstrap 5 para tu diseño responsivo
python-dotenv==1.2.1        # Cargar variables de entorno desde .env


# Opcional si decides usar python-decouple más adelante
# python-decouple==3.8